/*<!--/01100101 01100100 01110011 01101111 01101110-->*/
body {
     background: url('http://fc07.deviantart.net/fs71/i/2009/342/6/c/All_151_Original_Pokemon_by_bilzar.jpg') fixed;
    background-size: cover;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background: url("https://media.giphy.com/media/tecJUiOAZ5rc4/giphy.gif")fixed;
}

*[role="form"] h2 { 
    font-family: 'Anton' ;
    font-size: 40px;
    font-weight: 600;
    color: #e7eff3;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
